.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 55px;
  width: 100vw;
  padding: 10px 20px;
  background-color: #4056b4;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  width: 15px;
  color: grey;
}

.input {
  width: 300px;
  padding: 5px 5px 5px 30px;
  border: none;
  border-radius: 3px;
  line-height: 1.4;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #3faae5;
}
